<ng-container *ngIf="formDataList.length > 0; else noProjects">
  <div class="pbox" *ngFor="let formData of formDataList; let i = index">
    <div class="content">
      <div class="project-name">{{ formData?.projectName }}</div>
      <div class="state">Creation data: {{ formData?.fechaCreacion }}</div>
      <div class="dropdown" [class.open]="dropdownOpen === i" (click)="toggleDropdown(i)">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dropdown-content">
          <a [routerLink]="['/editproject', currentIndex]">Edit</a>
          <a  (click)="mostrarConfirmacionEliminacion(i)">Delete</a>
        </div>
      </div>
      <div class="datauser">
        <img src="https://pluspng.com/img-png/user-png-icon-young-user-icon-2400.png" alt="" class="imguser">
        {{ formData?.projectManager }}
      </div>
      <div class="status-bottom-right">Status: {{ formData?.estado }}</div>
    </div>
  </div>

  <div *ngIf="showConfirmation" class="confirmation">
    <p>¿Estás seguro de que deseas eliminar este proyecto?</p>
    <button (click)="eliminarProyecto()">Sí</button>
    <button (click)="cancelarEliminacion()">No</button>
  </div>
</ng-container>

<ng-template #noProjects>
  <p>No projects have been found. Please create a new one</p>
</ng-template>


